.Layout{
  margin-top:30px;
  justify-content: space-evenly;
  display: flex; 
}

.Cart{
  border: solid black 1px;
  width: 175px;
  height: auto;
  padding: 10px;
 
}

.PriceList{
  border: solid black 1px;
  width: 175px;
  padding: 10px
  
}

.AddToCart{
padding: 10px;
margin-bottom: 10px;
text-align: center;
}
